body{
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
}
header {
  text-align: left;
  background-color: #5b7989;
  color: white;
  border-radius: 10px 10px 0px 0px;
  height: 100px;
}
header h1{
  text-shadow: 2px 2px #02010a;
}
header nav{
  text-align: right;
  word-spacing: 15px;
}
header nav a{
  color: white;
}
